openapi: 3.0.0
info:
  title: gitpod.v1
  version: v1.0.0
servers:
- url: https://api.gitpod.io
  description: Gitpod API
tags:
- name: gitpod.v1.AccountService
  x-displayName: gitpod.v1.AccountService
- name: gitpod.v1.AgentService
  x-displayName: gitpod.v1.AgentService
- description: "AgentSecurityService receives agent security events from runners.\n Authenticated with runner tokens (same\
    \ as RunnerInteractionService)."
  name: gitpod.v1.AgentSecurityService
  x-displayName: gitpod.v1.AgentSecurityService
- description: BillingService provides billing and subscription management functionality.
  name: gitpod.v1.BillingService
  x-displayName: gitpod.v1.BillingService
- name: gitpod.v1.EditorService
  x-displayName: gitpod.v1.EditorService
- name: gitpod.v1.EnvironmentAutomationService
  x-displayName: gitpod.v1.EnvironmentAutomationService
- name: gitpod.v1.EnvironmentService
  x-displayName: gitpod.v1.EnvironmentService
- description: "ErrorsService provides endpoints for clients to report errors\n that will be sent to error reporting systems."
  name: gitpod.v1.ErrorsService
  x-displayName: gitpod.v1.ErrorsService
- name: gitpod.v1.EventService
  x-displayName: gitpod.v1.EventService
- name: gitpod.v1.GatewayService
  x-displayName: gitpod.v1.GatewayService
- name: gitpod.v1.GroupService
  x-displayName: gitpod.v1.GroupService
- name: gitpod.v1.IdentityService
  x-displayName: gitpod.v1.IdentityService
- description: "InsightsService provides AI code attribution analytics for projects.\n The CLI reports per-commit co-author\
    \ data from git history, and the\n dashboard reads aggregated stats."
  name: gitpod.v1.InsightsService
  x-displayName: gitpod.v1.InsightsService
- name: gitpod.v1.IntegrationService
  x-displayName: gitpod.v1.IntegrationService
- description: NotificationService manages in-app notifications for users.
  name: gitpod.v1.NotificationService
  x-displayName: gitpod.v1.NotificationService
- description: "OnaIntelligenceService manages organization-level LLM configurations for Ona Intelligence.\n This service\
    \ is restricted to Ona employees with the OnaIntelligenceAdmin role."
  name: gitpod.v1.OnaIntelligenceService
  x-displayName: gitpod.v1.OnaIntelligenceService
- name: gitpod.v1.OrganizationService
  x-displayName: gitpod.v1.OrganizationService
- description: "PrebuildService manages prebuilds for projects to enable faster environment startup times.\n Prebuilds create\
    \ snapshots of environments that can be used to provision new environments quickly."
  name: gitpod.v1.PrebuildService
  x-displayName: gitpod.v1.PrebuildService
- name: gitpod.v1.ProjectService
  x-displayName: gitpod.v1.ProjectService
- name: gitpod.v1.RunnerConfigurationService
  x-displayName: gitpod.v1.RunnerConfigurationService
- description: RunnerInteractionService provides a way for the backend to interact with environment runners.
  name: gitpod.v1.RunnerInteractionService
  x-displayName: gitpod.v1.RunnerInteractionService
- name: gitpod.v1.RunnerManagerService
  x-displayName: gitpod.v1.RunnerManagerService
- name: gitpod.v1.RunnerService
  x-displayName: gitpod.v1.RunnerService
- name: gitpod.v1.SecretService
  x-displayName: gitpod.v1.SecretService
- name: gitpod.v1.ServiceAccountService
  x-displayName: gitpod.v1.ServiceAccountService
- name: gitpod.v1.SessionService
  x-displayName: gitpod.v1.SessionService
- description: "TeamService manages teams and team memberships within an organization.\n A team is an organizational unit\
    \ that users can belong to.\n Each user can belong to at most one team per organization."
  name: gitpod.v1.TeamService
  x-displayName: gitpod.v1.TeamService
- description: UsageService provides usage information about environments, users, and projects.
  name: gitpod.v1.UsageService
  x-displayName: gitpod.v1.UsageService
- name: gitpod.v1.UserService
  x-displayName: gitpod.v1.UserService
- name: gitpod.v1.WebhookService
  x-displayName: gitpod.v1.WebhookService
- name: gitpod.v1.WorkflowService
  x-displayName: gitpod.v1.WorkflowService
paths:
  /gitpod.v1.AccountService/BlockAccount:
    post:
      description: "Blocks an account, preventing all API access.\n\n Use this method to:\n - Revoke access for policy violations\n\
        \ - Handle abuse cases\n - Enforce compliance requirements\n\n When an account is blocked:\n - All API requests return\
        \ 403 PERMISSION_DENIED\n - All running environments are stopped\n - All active subscriptions are cancelled\n\n Requires\
        \ the `block_account` permission.\n\n ### Examples\n\n - Block account for policy violation:\n\n   ```yaml\n   accountId:\
        \ \"f53d2330-3795-4c5d-a1f3-453121af9c60\"\n   reason: \"Terms of Service violation - spam\"\n   ```"
      operationId: gitpod.v1.AccountService.BlockAccount
      parameters: []
      requestBody:
        content:
          application/json:
            examples:
              block_account_for_policy_violation:
                description: 'accountId: "f53d2330-3795-4c5d-a1f3-453121af9c60"

                  reason: "Terms of Service violation - spam"

                  '
                value:
                  accountId: f53d2330-3795-4c5d-a1f3-453121af9c60
                  reason: Terms of Service violation - spam
            schema:
              $ref: '#/components/schemas/gitpod.v1.BlockAccountRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gitpod.v1.BlockAccountResponse'
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
          description: Error
      security:
      - bearerAuth: []
      summary: BlockAccount
      tags:
      - gitpod.v1.AccountService
    servers: []
  /gitpod.v1.AccountService/CreateMagicLink:
    post:
      operationId: gitpod.v1.AccountService.CreateMagicLink
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gitpod.v1.CreateMagicLinkRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gitpod.v1.CreateMagicLinkResponse'
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
          description: Error
      security:
      - bearerAuth: []
      summary: CreateMagicLink
      tags:
      - gitpod.v1.AccountService
    servers: []
  /gitpod.v1.AccountService/DeleteAccount:
    post:
      description: "Deletes an account permanently.\n\n Use this method to:\n - Remove unused accounts\n - Clean up test accounts\n\
        \ - Complete account deletion requests\n\n The account must not be an active member of any organization.\n\n ### Examples\n\
        \n - Delete account:\n\n   Permanently removes an account.\n\n   ```yaml\n   accountId: \"f53d2330-3795-4c5d-a1f3-453121af9c60\"\
        \n   ```"
      operationId: gitpod.v1.AccountService.DeleteAccount
      parameters: []
      requestBody:
        content:
          application/json:
            examples:
              delete_account:
                description: Permanently removes an account.
                value:
                  accountId: f53d2330-3795-4c5d-a1f3-453121af9c60
            schema:
              $ref: '#/components/schemas/gitpod.v1.DeleteAccountRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gitpod.v1.DeleteAccountResponse'
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
          description: Error
      security:
      - bearerAuth: []
      summary: DeleteAccount
      tags:
      - gitpod.v1.AccountService
    servers: []
  /gitpod.v1.AccountService/GetAccount:
    post:
      description: "Gets information about the currently authenticated account.\n\n Use this method to:\n - Retrieve account\
        \ profile information\n - Check organization memberships\n - View account settings\n - Get joinable organizations\n\
        \n ### Examples\n\n - Get account details:\n\n   Retrieves information about the authenticated account.\n\n   ```yaml\n\
        \   {}\n   ```"
      operationId: gitpod.v1.AccountService.GetAccount
      parameters: []
      requestBody:
        content:
          application/json:
            examples:
              get_account_details:
                description: Retrieves information about the authenticated account.
                value: {}
            schema:
              $ref: '#/components/schemas/gitpod.v1.GetAccountRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gitpod.v1.GetAccountResponse'
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
          description: Error
      security:
      - bearerAuth: []
      summary: GetAccount
      tags:
      - gitpod.v1.AccountService
    servers: []
  /gitpod.v1.AccountService/GetChatIdentityToken:
    post:
      description: "Gets the chat identity token for the currently authenticated account.\n\n Use this method to:\n - Obtain\
        \ a verification hash for in-app chat identity verification\n - Secure chat sessions against impersonation\n\n The\
        \ returned hash is an HMAC-SHA256 signature of the account's email,\n used by the chat widget to verify user identity.\n\
        \n ### Examples\n\n - Get chat identity token:\n\n   Retrieves the identity verification hash for the authenticated\
        \ account.\n\n   ```yaml\n   {}\n   ```"
      operationId: gitpod.v1.AccountService.GetChatIdentityToken
      parameters: []
      requestBody:
        content:
          application/json:
            examples:
              get_chat_identity_token:
                description: Retrieves the identity verification hash for the authenticated account.
                value: {}
            schema:
              $ref: '#/components/schemas/gitpod.v1.GetChatIdentityTokenRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gitpod.v1.GetChatIdentityTokenResponse'
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
          description: Error
      security:
      - bearerAuth: []
      summary: GetChatIdentityToken
      tags:
      - gitpod.v1.AccountService
    servers: []
  /gitpod.v1.AccountService/GetSSOLoginURL:
    post:
      description: "Gets the SSO login URL for a specific email domain.\n\n Use this method to:\n - Initiate SSO authentication\n\
        \ - Get organization-specific login URLs\n - Handle SSO redirects\n\n ### Examples\n\n - Get login URL:\n\n   Retrieves\
        \ SSO URL for email domain.\n\n   ```yaml\n   email: \"user@company.com\"\n   ```\n\n - Get URL with return path:\n\
        \n   Gets SSO URL with specific return location.\n\n   ```yaml\n   email: \"user@company.com\"\n   returnTo: \"https://gitpod.io/workspaces\"\
        \n   ```"
      operationId: gitpod.v1.AccountService.GetSSOLoginURL
      parameters: []
      requestBody:
        content:
          application/json:
            examples:
              get_login_url:
                description: Retrieves SSO URL for email domain.
                value:
                  email: user@company.com
              get_url_with_return_path:
                description: Gets SSO URL with specific return location.
                value:
                  email: user@company.com
                  returnTo: https://gitpod.io/workspaces
            schema:
              $ref: '#/components/schemas/gitpod.v1.GetSSOLoginURLRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gitpod.v1.GetSSOLoginURLResponse'
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
          description: Error
      security:
      - bearerAuth: []
      summary: GetSSOLoginURL
      tags:
      - gitpod.v1.AccountService
    servers: []
  /gitpod.v1.AccountService/ListJoinableOrganizations:
    post:
      description: "Lists organizations that the currently authenticated account can join.\n\n Use this method to:\n - Discover\
        \ organizations associated with the account's email domain.\n - Allow users to join existing organizations.\n - Display\
        \ potential organizations during onboarding.\n\n ### Examples\n\n - List joinable organizations:\n\n   Retrieves a\
        \ list of organizations the account can join.\n\n   ```yaml\n   {}\n   ```"
      operationId: gitpod.v1.AccountService.ListJoinableOrganizations
      parameters:
      - in: query
        name: pageSize
        schema:
          default: 25
          maximum: 100
          minimum: 0
          type: integer
      - in: query
        name: token
        schema:
          default: ''
          type: string
      requestBody:
        content:
          application/json:
            examples:
              list_joinable_organizations:
                description: Retrieves a list of organizations the account can join.
                value: {}
            schema:
              $ref: '#/components/schemas/gitpod.v1.ListJoinableOrganizationsRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gitpod.v1.ListJoinableOrganizationsResponse'
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
          description: Error
      security:
      - bearerAuth: []
      summary: ListJoinableOrganizations
      tags:
      - gitpod.v1.AccountService
    servers: []
  /gitpod.v1.AccountService/ListLoginProviders:
    post:
      description: "Lists available login providers with optional filtering.\n\n Use this method to:\n - View supported authentication\
        \ methods\n - Get provider-specific login URLs\n - Filter providers by invite\n\n ### Examples\n\n - List all providers:\n\
        \n   Shows all available login providers.\n\n   ```yaml\n   pagination:\n     pageSize: 20\n   ```\n\n - List for\
        \ specific invite:\n\n   Shows providers available for an invite.\n\n   ```yaml\n   filter:\n     inviteId: \"d2c94c27-3b76-4a42-b88c-95a85e392c68\"\
        \n   pagination:\n     pageSize: 20\n   ```"
      operationId: gitpod.v1.AccountService.ListLoginProviders
      parameters:
      - in: query
        name: pageSize
        schema:
          default: 25
          maximum: 100
          minimum: 0
          type: integer
      - in: query
        name: token
        schema:
          default: ''
          type: string
      requestBody:
        content:
          application/json:
            examples:
              list_all_providers:
                description: Shows all available login providers.
                value:
                  pagination:
                    pageSize: 20
              list_for_specific_invite:
                description: Shows providers available for an invite.
                value:
                  filter:
                    inviteId: d2c94c27-3b76-4a42-b88c-95a85e392c68
                  pagination:
                    pageSize: 20
            schema:
              $ref: '#/components/schemas/gitpod.v1.ListLoginProvidersRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gitpod.v1.ListLoginProvidersResponse'
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
          description: Error
      security:
      - bearerAuth: []
      summary: ListLoginProviders
      tags:
      - gitpod.v1.AccountService
    servers: []
  /gitpod.v1.AccountService/ListSSOLogins:
    post:
      operationId: gitpod.v1.AccountService.ListSSOLogins
      parameters:
      - in: query
        name: pageSize
        schema:
          default: 25
          maximum: 100
          minimum: 0
          type: integer
      - in: query
        name: token
        schema:
          default: ''
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gitpod.v1.ListSSOLoginsRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gitpod.v1.ListSSOLoginsResponse'
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
          description: Error
      security:
      - bearerAuth: []
      summary: ListSSOLogins
      tags:
      - gitpod.v1.AccountService
    servers: []
  /gitpod.v1.AccountService/UnblockAccount:
    post:
      description: "Unblocks a previously blocked account, restoring API access.\n\n Use this method to:\n - Restore access\
        \ after resolving policy violations\n - Reinstate accounts after review\n\n Note: Unblocking does NOT restore:\n -\
        \ Stopped environments (must be restarted manually)\n - Cancelled subscriptions (must be re-subscribed)\n - Deleted\
        \ resources\n\n Requires the `block_account` permission.\n\n ### Examples\n\n - Unblock account:\n\n   ```yaml\n \
        \  accountId: \"f53d2330-3795-4c5d-a1f3-453121af9c60\"\n   ```"
      operationId: gitpod.v1.AccountService.UnblockAccount
      parameters: []
      requestBody:
        content:
          application/json:
            examples:
              unblock_account:
                description: 'accountId: "f53d2330-3795-4c5d-a1f3-453121af9c60"

                  '
                value:
                  accountId: f53d2330-3795-4c5d-a1f3-453121af9c60
            schema:
              $ref: '#/components/schemas/gitpod.v1.UnblockAccountRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gitpod.v1.UnblockAccountResponse'
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
          description: Error
      security:
      - bearerAuth: []
      summary: UnblockAccount
      tags:
      - gitpod.v1.AccountService
    servers: []
  /gitpod.v1.AgentSecurityService/ReportExecEvent:
    post:
      description: "ReportExecEvent reports a blocked or audited process execution.\n\n Use this method to:\n - Report process\
        \ executions that were blocked or audited by security policy\n\n ### Examples\n\n - Report a blocked execution:\n\n\
        \   ```yaml\n   environmentId: \"d2c94c27-3b76-4a42-b88c-95a85e392c68\"\n   executable: \"sha256:a1b2c3d4...\"\n \
        \  filename: \"/usr/bin/curl\"\n   action: KERNEL_CONTROLS_ACTION_BLOCK\n   process:\n     pid: 1234\n     tid: 1234\n\
        \     name: \"curl\"\n     cmdline: \"curl https://example.com\"\n     startedAt: \"2026-01-15T10:30:00Z\"\n     ppid:\
        \ 1000\n     pgid: 1000\n     sid: 1000\n   timestamp: \"2026-01-15T10:30:00Z\"\n   ```"
      operationId: gitpod.v1.AgentSecurityService.ReportExecEvent
      parameters: []
      requestBody:
        content:
          application/json:
            examples:
              report_a_blocked_execution:
                description: "environmentId: \"d2c94c27-3b76-4a42-b88c-95a85e392c68\"\nexecutable: \"sha256:a1b2c3d4...\"\n\
                  filename: \"/usr/bin/curl\"\naction: KERNEL_CONTROLS_ACTION_BLOCK\nprocess:\n  pid: 1234\n  tid: 1234\n\
                  \  name: \"curl\"\n  cmdline: \"curl https://example.com\"\n  startedAt: \"2026-01-15T10:30:00Z\"\n  ppid:\
                  \ 1000\n  pgid: 1000\n  sid: 1000\ntimestamp: \"2026-01-15T10:30:00Z\"\n"
                value:
                  action: KERNEL_CONTROLS_ACTION_BLOCK
                  environmentId: d2c94c27-3b76-4a42-b88c-95a85e392c68
                  executable: sha256:a1b2c3d4...
                  filename: /usr/bin/curl
                  process:
                    cmdline: curl https://example.com
                    name: curl
                    pgid: 1000
                    pid: 1234
                    ppid: 1000
                    sid: 1000
                    startedAt: '2026-01-15T10:30:00Z'
                    tid: 1234
                  timestamp: '2026-01-15T10:30:00Z'
            schema:
              $ref: '#/components/schemas/gitpod.v1.ReportExecEventRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gitpod.v1.ReportExecEventResponse'
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
          description: Error
      security:
      - bearerAuth: []
      summary: ReportExecEvent
      tags:
      - gitpod.v1.AgentSecurityService
    servers: []
  /gitpod.v1.AgentService/CreateAgent:
    post:
      description: "Creates a new agent.\n\n Use this method to:\n - Define new agents with custom prompts and tools"
      operationId: gitpod.v1.AgentService.CreateAgent
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gitpod.v1.CreateAgentRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gitpod.v1.CreateAgentResponse'
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
          description: Error
      security:
      - bearerAuth: []
      summary: CreateAgent
      tags:
      - gitpod.v1.AgentService
    servers: []
  /gitpod.v1.AgentService/CreateAgentExecutionConversationToken:
    post:
      description: "Creates a token for conversation access with a specific agent run.\n\n This method generates a temporary\
        \ token that can be used to securely\n connect to an ongoing agent conversation, for example in a web UI.\n\n ###\
        \ Examples\n\n - Create a token to join an agent run conversation in a front-end application:\n\n   ```yaml\n   agentExecutionId:\
        \ \"6fa1a3c7-fbb7-49d1-ba56-1890dc7c4c35\"\n   ```"
      operationId: gitpod.v1.AgentService.CreateAgentExecutionConversationToken
      parameters: []
      requestBody:
        content:
          application/json:
            examples:
              create_a_token_to_join_an_agent_run_conversation_in_a_front_end_application:
                description: 'agentExecutionId: "6fa1a3c7-fbb7-49d1-ba56-1890dc7c4c35"

                  '
                value:
                  agentExecutionId: 6fa1a3c7-fbb7-49d1-ba56-1890dc7c4c35
            schema:
              $ref: '#/components/schemas/gitpod.v1.CreateAgentExecutionConversationTokenRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gitpod.v1.CreateAgentExecutionConversationTokenResponse'
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
          description: Error
      security:
      - bearerAuth: []
      summary: CreateAgentExecutionConversationToken
      tags:
      - gitpod.v1.AgentService
    servers: []
  /gitpod.v1.AgentService/CreateLLMAccessToken:
    post:
      description: Creates a token for LLM access with a specific agent run.
      operationId: gitpod.v1.AgentService.CreateLLMAccessToken
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gitpod.v1.CreateLLMAccessTokenRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gitpod.v1.CreateLLMAccessTokenResponse'
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
          description: Error
      security:
      - bearerAuth: []
      summary: CreateLLMAccessToken
      tags:
      - gitpod.v1.AgentService
    servers: []
  /gitpod.v1.AgentService/CreateMCPAccessToken:
    post:
      description: "Creates a token for MCP access.\n\n Use this method to generate an access token for MCP integrations."
      operationId: gitpod.v1.AgentService.CreateMCPAccessToken
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gitpod.v1.CreateMCPAccessTokenRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gitpod.v1.CreateMCPAccessTokenResponse'
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
          description: Error
      security:
      - bearerAuth: []
      summary: CreateMCPAccessToken
      tags:
      - gitpod.v1.AgentService
    servers: []
  /gitpod.v1.AgentService/CreatePrompt:
    post:
      description: "Creates a new prompt.\n\n Use this method to:\n - Define new prompts for templates or commands\n - Set\
        \ up organization-wide prompt libraries"
      operationId: gitpod.v1.AgentService.CreatePrompt
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gitpod.v1.CreatePromptRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gitpod.v1.CreatePromptResponse'
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
          description: Error
      security:
      - bearerAuth: []
      summary: CreatePrompt
      tags:
      - gitpod.v1.AgentService
    servers: []
  /gitpod.v1.AgentService/CreateSearchAccessToken:
    post:
      description: "Creates a token for search access.\n\n Use this method to generate an access token for search proxy integrations."
      operationId: gitpod.v1.AgentService.CreateSearchAccessToken
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gitpod.v1.CreateSearchAccessTokenRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gitpod.v1.CreateSearchAccessTokenResponse'
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
          description: Error
      security:
      - bearerAuth: []
      summary: CreateSearchAccessToken
      tags:
      - gitpod.v1.AgentService
    servers: []
  /gitpod.v1.AgentService/DeleteAgent:
    post:
      description: "Deletes an agent.\n\n Use this method to:\n - Remove custom agents"
      operationId: gitpod.v1.AgentService.DeleteAgent
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gitpod.v1.DeleteAgentRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gitpod.v1.DeleteAgentResponse'
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
          description: Error
      security:
      - bearerAuth: []
      summary: DeleteAgent
      tags:
      - gitpod.v1.AgentService
    servers: []
  /gitpod.v1.AgentService/DeleteAgentExecution:
    post:
      description: "Deletes an agent run.\n\n Use this method to:\n - Clean up agent runs that are no longer needed\n\n ###\
        \ Examples\n\n - Delete an agent run by ID:\n\n   ```yaml\n   agentExecutionId: \"6fa1a3c7-fbb7-49d1-ba56-1890dc7c4c35\"\
        \n   ```"
      operationId: gitpod.v1.AgentService.DeleteAgentExecution
      parameters: []
      requestBody:
        content:
          application/json:
            examples:
              delete_an_agent_run_by_id:
                description: 'agentExecutionId: "6fa1a3c7-fbb7-49d1-ba56-1890dc7c4c35"

                  '
                value:
                  agentExecutionId: 6fa1a3c7-fbb7-49d1-ba56-1890dc7c4c35
            schema:
              $ref: '#/components/schemas/gitpod.v1.DeleteAgentExecutionRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gitpod.v1.DeleteAgentExecutionResponse'
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
          description: Error
      security:
      - bearerAuth: []
      summary: DeleteAgentExecution
      tags:
      - gitpod.v1.AgentService
    servers: []
  /gitpod.v1.AgentService/DeletePrompt:
    post:
      description: "Deletes a prompt.\n\n Use this method to:\n - Remove unused prompts"
      operationId: gitpod.v1.AgentService.DeletePrompt
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gitpod.v1.DeletePromptRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gitpod.v1.DeletePromptResponse'
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
          description: Error
      security:
      - bearerAuth: []
      summary: DeletePrompt
      tags:
      - gitpod.v1.AgentService
    servers: []
  /gitpod.v1.AgentService/EmitAgentSessionActivity:
    post:
      description: "Emits an activity to the external agent session (e.g., Linear) associated\n with this agent execution.\
        \ The backend resolves the session ID from the\n execution's annotations and uses the org's app token to authenticate."
      operationId: gitpod.v1.AgentService.EmitAgentSessionActivity
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gitpod.v1.EmitAgentSessionActivityRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gitpod.v1.EmitAgentSessionActivityResponse'
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
          description: Error
      security:
      - bearerAuth: []
      summary: EmitAgentSessionActivity
      tags:
      - gitpod.v1.AgentService
    servers: []
  /gitpod.v1.AgentService/GetAgent:
    post:
      description: "Gets details about a specific agent including description,\n and required models.\n\n Use this method\
        \ to:\n - Check if an agent is defined correctly\n - Understand which models are required for this agent\n\n ### Examples\n\
        \n - Get agent details:\n\n   ```yaml\n   agentId: \"07e03a28-65a5-4d98-b532-8ea67b188048\"\n   ```"
      operationId: gitpod.v1.AgentService.GetAgent
      parameters: []
      requestBody:
        content:
          application/json:
            examples:
              get_agent_details:
                description: 'agentId: "07e03a28-65a5-4d98-b532-8ea67b188048"

                  '
                value:
                  agentId: 07e03a28-65a5-4d98-b532-8ea67b188048
            schema:
              $ref: '#/components/schemas/gitpod.v1.GetAgentRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gitpod.v1.GetAgentResponse'
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
          description: Error
      security:
      - bearerAuth: []
      summary: GetAgent
      tags:
      - gitpod.v1.AgentService
    servers: []
  /gitpod.v1.AgentService/GetAgentExecution:
    post:
      description: "Gets details about a specific agent run, including its metadata, specification,\n and status (phase, error\
        \ messages, and usage statistics).\n\n Use this method to:\n - Monitor the run's progress\n - Retrieve the agent's\
        \ conversation URL\n - Check if an agent run is actively producing output\n\n ### Examples\n\n - Get agent run details\
        \ by ID:\n\n   ```yaml\n   agentExecutionId: \"6fa1a3c7-fbb7-49d1-ba56-1890dc7c4c35\"\n   ```"
      operationId: gitpod.v1.AgentService.GetAgentExecution
      parameters: []
      requestBody:
        content:
          application/json:
            examples:
              get_agent_run_details_by_id:
                description: 'agentExecutionId: "6fa1a3c7-fbb7-49d1-ba56-1890dc7c4c35"

                  '
                value:
                  agentExecutionId: 6fa1a3c7-fbb7-49d1-ba56-1890dc7c4c35
            schema:
              $ref: '#/components/schemas/gitpod.v1.GetAgentExecutionRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gitpod.v1.GetAgentExecutionResponse'
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
          description: Error
      security:
      - bearerAuth: []
      summary: GetAgentExecution
      tags:
      - gitpod.v1.AgentService
    servers: []
  /gitpod.v1.AgentService/GetPrompt:
    post:
      description: "Gets details about a specific prompt including name, description,\n and prompt content.\n\n Use this method\
        \ to:\n - Retrieve prompt details for editing\n - Get prompt content for execution\n\n ### Examples\n\n - Get prompt\
        \ details:\n\n   ```yaml\n   promptId: \"07e03a28-65a5-4d98-b532-8ea67b188048\"\n   ```"
      operationId: gitpod.v1.AgentService.GetPrompt
      parameters: []
      requestBody:
        content:
          application/json:
            examples:
              get_prompt_details:
                description: 'promptId: "07e03a28-65a5-4d98-b532-8ea67b188048"

                  '
                value:
                  promptId: 07e03a28-65a5-4d98-b532-8ea67b188048
            schema:
              $ref: '#/components/schemas/gitpod.v1.GetPromptRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gitpod.v1.GetPromptResponse'
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
          description: Error
      security:
      - bearerAuth: []
      summary: GetPrompt
      tags:
      - gitpod.v1.AgentService
    servers: []
  /gitpod.v1.AgentService/ImprovePromptForAgent:
    post:
      description: "Improves an agent's prompt.\n\n Use this method to:\n - Enhance the agent's understanding of the user's\
        \ request\n - Refine the agent's response to be more accurate and relevant"
      operationId: gitpod.v1.AgentService.ImprovePromptForAgent
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gitpod.v1.ImprovePromptForAgentRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gitpod.v1.ImprovePromptForAgentResponse'
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
          description: Error
      security:
      - bearerAuth: []
      summary: ImprovePromptForAgent
      tags:
      - gitpod.v1.AgentService
    servers: []
  /gitpod.v1.AgentService/ListAgentExecutions:
    post:
      description: "Lists all agent runs matching the specified filter.\n\n Use this method to track multiple agent runs and\
        \ their associated resources. Results are ordered by their creation time with the newest first.\n\n ### Examples\n\
        \n - List agent runs by agent ID:\n\n   ```yaml\n   filter:\n     agentIds: [\"b8a64cfa-43e2-4b9d-9fb3-07edc63f5971\"\
        ]\n   pagination:\n     pageSize: 10\n   ```"
      operationId: gitpod.v1.AgentService.ListAgentExecutions
      parameters:
      - in: query
        name: pageSize
        schema:
          default: 25
          maximum: 100
          minimum: 0
          type: integer
      - in: query
        name: token
        schema:
          default: ''
          type: string
      requestBody:
        content:
          application/json:
            examples:
              list_agent_runs_by_agent_id:
                description: "filter:\n  agentIds: [\"b8a64cfa-43e2-4b9d-9fb3-07edc63f5971\"]\npagination:\n  pageSize: 10\n"
                value:
                  filter:
                    agentIds:
                    - b8a64cfa-43e2-4b9d-9fb3-07edc63f5971
                  pagination:
                    pageSize: 10
            schema:
              $ref: '#/components/schemas/gitpod.v1.ListAgentExecutionsRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gitpod.v1.ListAgentExecutionsResponse'
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
          description: Error
      security:
      - bearerAuth: []
      summary: ListAgentExecutions
      tags:
      - gitpod.v1.AgentService
    servers: []
  /gitpod.v1.AgentService/ListAgents:
    post:
      description: "Lists all agents matching the specified criteria.\n\n Use this method to find and monitor agents across\
        \ your organization.\n Results are ordered by their creation time with the newest first.\n\n ### Examples\n\n - List\
        \ all agents:\n\n   Retrieves all agents with pagination.\n\n   ```yaml\n   pagination:\n     pageSize: 10\n   ```"
      operationId: gitpod.v1.AgentService.ListAgents
      parameters:
      - in: query
        name: pageSize
        schema:
          default: 25
          maximum: 100
          minimum: 0
          type: integer
      - in: query
        name: token
        schema:
          default: ''
          type: string
      requestBody:
        content:
          application/json:
            examples:
              list_all_agents:
                description: Retrieves all agents with pagination.
                value:
                  pagination:
                    pageSize: 10
            schema:
              $ref: '#/components/schemas/gitpod.v1.ListAgentsRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gitpod.v1.ListAgentsResponse'
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
          description: Error
      security:
      - bearerAuth: []
      summary: ListAgents
      tags:
      - gitpod.v1.AgentService
    servers: []
  /gitpod.v1.AgentService/ListMCPIntegrations:
    post:
      description: "Lists all MCP integrations.\n\n Use this method to retrieve all configured MCP integrations.\n\n ### Examples\n\
        \n - List all MCP integrations:\n\n   ```yaml\n   pagination:\n     pageSize: 10\n   ```"
      operationId: gitpod.v1.AgentService.ListMCPIntegrations
      parameters:
      - in: query
        name: pageSize
        schema:
          default: 25
          maximum: 100
          minimum: 0
          type: integer
      - in: query
        name: token
        schema:
          default: ''
          type: string
      requestBody:
        content:
          application/json:
            examples:
              list_all_mcp_integrations:
                description: "pagination:\n  pageSize: 10\n"
                value:
                  pagination:
                    pageSize: 10
            schema:
              $ref: '#/components/schemas/gitpod.v1.ListMCPIntegrationsRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gitpod.v1.ListMCPIntegrationsResponse'
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
          description: Error
      security:
      - bearerAuth: []
      summary: ListMCPIntegrations
      tags:
      - gitpod.v1.AgentService
    servers: []
  /gitpod.v1.AgentService/ListPrompts:
    post:
      description: "Lists all prompts matching the specified criteria.\n\n Use this method to find and browse prompts across\
        \ your organization.\n Results are ordered by their creation time with the newest first.\n\n ### Examples\n\n - List\
        \ all prompts:\n\n   Retrieves all prompts with pagination.\n\n   ```yaml\n   pagination:\n     pageSize: 10\n   ```"
      operationId: gitpod.v1.AgentService.ListPrompts
      parameters:
      - in: query
        name: pageSize
        schema:
          default: 25
          maximum: 100
          minimum: 0
          type: integer
      - in: query
        name: token
        schema:
          default: ''
          type: string
      requestBody:
        content:
          application/json:
            examples:
              list_all_prompts:
                description: Retrieves all prompts with pagination.
                value:
                  pagination:
                    pageSize: 10
            schema:
              $ref: '#/components/schemas/gitpod.v1.ListPromptsRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gitpod.v1.ListPromptsResponse'
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
          description: Error
      security:
      - bearerAuth: []
      summary: ListPrompts
      tags:
      - gitpod.v1.AgentService
    servers: []
  /gitpod.v1.AgentService/ReportAgentExecutionOutputs:
    post:
      description: "Reports outputs for an agent execution.\n\n This method allows agents to report key-value outputs during\
        \ execution.\n Similar to task execution outputs, but with typed values for structured data.\n Outputs are merged\
        \ with any existing outputs. The API automatically infers\n the type (int, float, bool, or string) from the value.\n\
        \n Use this method to:\n - Record execution outcomes and metrics\n - Track test results, coverage, or success indicators\n\
        \ - Store any execution-related data as key-value pairs\n\n Type inference rules:\n - \"true\" or \"false\" → bool\n\
        \ - Valid integer (e.g., \"42\", \"-10\") → int\n - Valid float (e.g., \"85.5\", \"3.14\") → float\n - Everything\
        \ else → string\n\n Validation limits (matching task execution outputs):\n - Keys: 1-128 characters\n - String values:\
        \ max 4096 characters\n\n ### Examples\n\n - Report execution outputs (types will be inferred from string_value):\n\
        \n   ```yaml\n   agentExecutionId: \"6fa1a3c7-fbb7-49d1-ba56-1890dc7c4c35\"\n   outputs:\n     tests_passed:\n   \
        \    stringValue: \"42\"        # inferred as int\n     coverage:\n       stringValue: \"85.5\"      # inferred as\
        \ float\n     success:\n       stringValue: \"true\"      # inferred as bool\n     message:\n       stringValue: \"\
        All tests passed\"  # stored as string\n   ```"
      operationId: gitpod.v1.AgentService.ReportAgentExecutionOutputs
      parameters: []
      requestBody:
        content:
          application/json:
            examples:
              report_execution_outputs_(types_will_be_inferred_from_string_:
                description: "agentExecutionId: \"6fa1a3c7-fbb7-49d1-ba56-1890dc7c4c35\"\noutputs:\n  tests_passed:\n    stringValue:\
                  \ \"42\"        # inferred as int\n  coverage:\n    stringValue: \"85.5\"      # inferred as float\n  success:\n\
                  \    stringValue: \"true\"      # inferred as bool\n  message:\n    stringValue: \"All tests passed\"  #\
                  \ stored as string\n"
                value:
                  agentExecutionId: 6fa1a3c7-fbb7-49d1-ba56-1890dc7c4c35
                  outputs:
                    coverage:
                      stringValue: '85.5'
                    message:
                      stringValue: All tests passed
                    success:
                      stringValue: 'true'
                    tests_passed:
                      stringValue: '42'
            schema:
              $ref: '#/components/schemas/gitpod.v1.ReportAgentExecutionOutputsRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gitpod.v1.ReportAgentExecutionOutputsResponse'
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
          description: Error
      security:
      - bearerAuth: []
      summary: ReportAgentExecutionOutputs
      tags:
      - gitpod.v1.AgentService
    servers: []
  /gitpod.v1.AgentService/SendToAgentExecution:
    post:
      description: "Sends user input to an active agent run.\n\n This method is used to provide interactive or conversation-based\
        \ input\n to an agent. The agent can respond with output blocks containing\n text, file changes, or tool usage requests.\n\
        \n ### Examples\n\n - Send a text message to an agent:\n\n   ```yaml\n   agentExecutionId: \"6fa1a3c7-fbb7-49d1-ba56-1890dc7c4c35\"\
        \n   userInput:\n     text:\n       content: \"Generate a report based on the latest logs.\"\n   ```"
      operationId: gitpod.v1.AgentService.SendToAgentExecution
      parameters: []
      requestBody:
        content:
          application/json:
            examples:
              send_a_text_message_to_an_agent:
                description: "agentExecutionId: \"6fa1a3c7-fbb7-49d1-ba56-1890dc7c4c35\"\nuserInput:\n  text:\n    content:\
                  \ \"Generate a report based on the latest logs.\"\n"
                value:
                  agentExecutionId: 6fa1a3c7-fbb7-49d1-ba56-1890dc7c4c35
                  userInput:
                    text:
                      content: Generate a report based on the latest logs.
            schema:
              $ref: '#/components/schemas/gitpod.v1.SendToAgentExecutionRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gitpod.v1.SendToAgentExecutionResponse'
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
          description: Error
      security:
      - bearerAuth: []
      summary: SendToAgentExecution
      tags:
      - gitpod.v1.AgentService
    servers: []
  /gitpod.v1.AgentService/StartAgent:
    post:
      description: "Starts (or triggers) an agent run using a provided agent.\n\n Use this method to:\n - Launch an agent\
        \ based on a known agent\n\n ### Examples\n\n - Start an agent with a project ID:\n\n   ```yaml\n   agentId: \"b8a64cfa-43e2-4b9d-9fb3-07edc63f5971\"\
        \n   codeContext:\n     projectId: \"2d22e4eb-31da-467f-882c-27e21550992f\"\n   ```"
      operationId: gitpod.v1.AgentService.StartAgent
      parameters: []
      requestBody:
        content:
          application/json:
            examples:
              start_an_agent_with_a_project_id:
                description: "agentId: \"b8a64cfa-43e2-4b9d-9fb3-07edc63f5971\"\ncodeContext:\n  projectId: \"2d22e4eb-31da-467f-882c-27e21550992f\"\
                  \n"
                value:
                  agentId: b8a64cfa-43e2-4b9d-9fb3-07edc63f5971
                  codeContext:
                    projectId: 2d22e4eb-31da-467f-882c-27e21550992f
            schema:
              $ref: '#/components/schemas/gitpod.v1.StartAgentRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gitpod.v1.StartAgentResponse'
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
          description: Error
      security:
      - bearerAuth: []
      summary: StartAgent
      tags:
      - gitpod.v1.AgentService
    servers: []
  /gitpod.v1.AgentService/StopAgentExecution:
    post:
      description: "Stops an active agent execution.\n\n Use this method to:\n - Stop an agent that is currently running\n\
        \ - Prevent further processing or resource usage\n\n ### Examples\n\n - Stop an agent execution by ID:\n\n   ```yaml\n\
        \   agentExecutionId: \"6fa1a3c7-fbb7-49d1-ba56-1890dc7c4c35\"\n   ```"
      operationId: gitpod.v1.AgentService.StopAgentExecution
      parameters: []
      requestBody:
        content:
          application/json:
            examples:
              stop_an_agent_execution_by_id:
                description: 'agentExecutionId: "6fa1a3c7-fbb7-49d1-ba56-1890dc7c4c35"

                  '
                value:
                  agentExecutionId: 6fa1a3c7-fbb7-49d1-ba56-1890dc7c4c35
            schema:
              $ref: '#/components/schemas/gitpod.v1.StopAgentExecutionRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gitpod.v1.StopAgentExecutionResponse'
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
          description: Error
      security:
      - bearerAuth: []
      summary: StopAgentExecution
      tags:
      - gitpod.v1.AgentService
    servers: []
  /gitpod.v1.AgentService/UpdateAgent:
    post:
      description: "Updates an existing agent.\n\n Use this method to:\n - Modify agent configuration\n - Update prompts or\
        \ required tools"
      operationId: gitpod.v1.AgentService.UpdateAgent
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gitpod.v1.UpdateAgentRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gitpod.v1.UpdateAgentResponse'
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
          description: Error
      security:
      - bearerAuth: []
      summary: UpdateAgent
      tags:
      - gitpod.v1.AgentService
    servers: []
  /gitpod.v1.AgentService/UpdateAgentExecution:
    post:
      description: "Updates an agent execution's spec.\n\n Use this method to:\n - Set or update loop conditions on an agent\
        \ execution"
      operationId: gitpod.v1.AgentService.UpdateAgentExecution
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gitpod.v1.UpdateAgentExecutionRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gitpod.v1.UpdateAgentExecutionResponse'
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
          description: Error
      security:
      - bearerAuth: []
      summary: UpdateAgentExecution
      tags:
      - gitpod.v1.AgentService
    servers: []
  /gitpod.v1.AgentService/UpdatePrompt:
    post:
      description: "Updates an existing prompt.\n\n Use this method to:\n - Modify prompt content or metadata\n - Change prompt\
        \ type (template/command)"
      operationId: gitpod.v1.AgentService.UpdatePrompt
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gitpod.v1.UpdatePromptRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gitpod.v1.UpdatePromptResponse'
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
          description: Error
      security:
      - bearerAuth: []
      summary: UpdatePrompt
      tags:
      - gitpod.v1.AgentService
    servers: []
  /gitpod.v1.BillingService/CancelSubscription:
    post:
      description: "Cancels an existing subscription.\n\n Use this method to:\n - Cancel active subscription\n - Stop recurring\
        \ billing\n - Maintain access until end of billing period\n\n ### Examples\n\n - Cancel subscription:\n\n   Cancels\
        \ the specified subscription.\n\n   ```yaml\n   organizationId: \"b0e12f6c-4c67-429d-a4a6-d9838b5da047\"\n   subscriptionType:\
        \ SUBSCRIPTION_TYPE_CORE\n   ```"
      operationId: gitpod.v1.BillingService.CancelSubscription
      parameters: []
      requestBody:
        content:
          application/json:
            examples:
              cancel_subscription:
                description: Cancels the specified subscription.
                value:
                  organizationId: b0e12f6c-4c67-429d-a4a6-d9838b5da047
                  subscriptionType: SUBSCRIPTION_TYPE_CORE
            schema:
              $ref: '#/components/schemas/gitpod.v1.CancelSubscriptionRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gitpod.v1.CancelSubscriptionResponse'
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
          description: Error
      security:
      - bearerAuth: []
      summary: CancelSubscription
      tags:
      - gitpod.v1.BillingService
    servers: []
  /gitpod.v1.BillingService/ClearTopupFailure:
    post:
      description: "Clears a topup payment failure for an organization.\n\n Use this method to:\n - Acknowledge and clear\
        \ a failed topup payment\n - Allow the UI to return to normal state after user acknowledges the failure\n\n Unlike\
        \ subscription failures which auto-resolve when payment succeeds,\n topup failures need explicit user acknowledgment\
        \ because the commit was\n voided by Metronome and the user needs to retry with a working payment method."
      operationId: gitpod.v1.BillingService.ClearTopupFailure
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gitpod.v1.ClearTopupFailureRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gitpod.v1.ClearTopupFailureResponse'
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
          description: Error
      security:
      - bearerAuth: []
      summary: ClearTopupFailure
      tags:
      - gitpod.v1.BillingService
    servers: []
  /gitpod.v1.BillingService/CompleteBillingSetup:
    post:
      description: "Completes the billing setup process after Stripe payment workflow completion.\n\n Use this method to:\n\
        \ - Verify Stripe setup intent completion\n - Create Metronome contract for the organization\n - Grant free trial\
        \ credits\n - Finalize billing configuration\n\n ### Examples\n\n - Complete billing setup:\n\n   Finalizes billing\
        \ after successful Stripe payment setup.\n\n   ```yaml\n   organizationId: \"b0e12f6c-4c67-429d-a4a6-d9838b5da047\"\
        \n   setupIntentId: \"seti_1234567890abcdef\"\n   ```"
      operationId: gitpod.v1.BillingService.CompleteBillingSetup
      parameters: []
      requestBody:
        content:
          application/json:
            examples:
              complete_billing_setup:
                description: Finalizes billing after successful Stripe payment setup.
                value:
                  organizationId: b0e12f6c-4c67-429d-a4a6-d9838b5da047
                  setupIntentId: seti_1234567890abcdef
            schema:
              $ref: '#/components/schemas/gitpod.v1.CompleteBillingSetupRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gitpod.v1.CompleteBillingSetupResponse'
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
          description: Error
      security:
      - bearerAuth: []
      summary: CompleteBillingSetup
      tags:
      - gitpod.v1.BillingService
    servers: []
  /gitpod.v1.BillingService/CorrectUsageEvents:
    post:
      description: "Corrects previously-synced usage events by cancelling the originals and\n creating compensating negative-value\
        \ events that flow through the normal\n sync pipeline to Stripe. Internal admin operation."
      operationId: gitpod.v1.BillingService.CorrectUsageEvents
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gitpod.v1.CorrectUsageEventsRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gitpod.v1.CorrectUsageEventsResponse'
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
          description: Error
      security:
      - bearerAuth: []
      summary: CorrectUsageEvents
      tags:
      - gitpod.v1.BillingService
    servers: []
  /gitpod.v1.BillingService/CreateCardVerification:
    post:
      description: "Creates a card verification entry for an account, allowing them to skip credit card verification.\n\n\
        \ Use this method to:\n - Grant Ona for Open Source program participants immediate access\n - Mark pre-vetted accounts\
        \ as credit card verified\n\n Requires the 'create_card_verification' account permission.\n\n ### Examples\n\n - Create\
        \ card verification for open source maintainer:\n\n   ```yaml\n   email: \"maintainer@example.org\"\n   ```"
      operationId: gitpod.v1.BillingService.CreateCardVerification
      parameters: []
      requestBody:
        content:
          application/json:
            examples:
              create_card_verification_for_open_source_maintainer:
                description: 'email: "maintainer@example.org"

                  '
                value:
                  email: maintainer@example.org
            schema:
              $ref: '#/components/schemas/gitpod.v1.CreateCardVerificationRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gitpod.v1.CreateCardVerificationResponse'
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
          description: Error
      security:
      - bearerAuth: []
      summary: CreateCardVerification
      tags:
      - gitpod.v1.BillingService
    servers: []
  /gitpod.v1.BillingService/CreateCoupon:
    post:
      description: "Creates a new coupon for support staff to distribute to customers.\n\n Use this method to:\n - Create\
        \ promotional coupons for marketing campaigns\n - Generate support coupons for customer service\n - Set up trial credit\
        \ coupons for new users"
      operationId: gitpod.v1.BillingService.CreateCoupon
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gitpod.v1.CreateCouponRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gitpod.v1.CreateCouponResponse'
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
          description: Error
      security:
      - bearerAuth: []
      summary: CreateCoupon
      tags:
      - gitpod.v1.BillingService
    servers: []
  /gitpod.v1.BillingService/CreateSubscription:
    post:
      description: "Creates a new subscription for an organization.\n\n Use this method to:\n - Create a new subscription\
        \ with specified type\n - Add subscription to existing Metronome contract\n - Create new contract if none exists"
      operationId: gitpod.v1.BillingService.CreateSubscription
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gitpod.v1.CreateSubscriptionRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gitpod.v1.CreateSubscriptionResponse'
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
          description: Error
      security:
      - bearerAuth: []
      summary: CreateSubscription
      tags:
      - gitpod.v1.BillingService
    servers: []
  /gitpod.v1.BillingService/CreateTeamCreditAllocation:
    post:
      description: "Creates a credit allocation (budget) for a team.\n\n Allocations are soft budgets for reporting and alerting\
        \ — not enforced at usage time.\n Over-allocation (sum of team budgets > org grant) is allowed.\n\n ### Examples\n\
        \n - Create a team allocation:\n\n   ```yaml\n   organizationId: \"b0e12f6c-4c67-429d-a4a6-d9838b5da047\"\n   teamId:\
        \ \"d2c94c27-3b76-4a42-b88c-95a85e392c68\"\n   creditBudget: \"500\"\n   ```\n\n ### Authorization\n\n Requires `billing:create`\
        \ permission on the organization."
      operationId: gitpod.v1.BillingService.CreateTeamCreditAllocation
      parameters: []
      requestBody:
        content:
          application/json:
            examples:
              create_a_team_allocation:
                description: 'organizationId: "b0e12f6c-4c67-429d-a4a6-d9838b5da047"

                  teamId: "d2c94c27-3b76-4a42-b88c-95a85e392c68"

                  creditBudget: "500"

                  '
                value:
                  creditBudget: '500'
                  organizationId: b0e12f6c-4c67-429d-a4a6-d9838b5da047
                  teamId: d2c94c27-3b76-4a42-b88c-95a85e392c68
            schema:
              $ref: '#/components/schemas/gitpod.v1.CreateTeamCreditAllocationRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gitpod.v1.CreateTeamCreditAllocationResponse'
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
          description: Error
      security:
      - bearerAuth: []
      summary: CreateTeamCreditAllocation
      tags:
      - gitpod.v1.BillingService
    servers: []
  /gitpod.v1.BillingService/DeleteTeamCreditAllocation:
    post:
      description: "Deletes the credit allocation for a team.\n\n ### Examples\n\n - Delete a team's allocation:\n\n   ```yaml\n\
        \   organizationId: \"b0e12f6c-4c67-429d-a4a6-d9838b5da047\"\n   teamId: \"d2c94c27-3b76-4a42-b88c-95a85e392c68\"\n\
        \   ```\n\n ### Authorization\n\n Requires `billing:delete` permission on the organization."
      operationId: gitpod.v1.BillingService.DeleteTeamCreditAllocation
      parameters: []
      requestBody:
        content:
          application/json:
            examples:
              delete_a_team's_allocation:
                description: 'organizationId: "b0e12f6c-4c67-429d-a4a6-d9838b5da047"

                  teamId: "d2c94c27-3b76-4a42-b88c-95a85e392c68"

                  '
                value:
                  organizationId: b0e12f6c-4c67-429d-a4a6-d9838b5da047
                  teamId: d2c94c27-3b76-4a42-b88c-95a85e392c68
            schema:
              $ref: '#/components/schemas/gitpod.v1.DeleteTeamCreditAllocationRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gitpod.v1.DeleteTeamCreditAllocationResponse'
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
          description: Error
      security:
      - bearerAuth: []
      summary: DeleteTeamCreditAllocation
      tags:
      - gitpod.v1.BillingService
    servers: []
  /gitpod.v1.BillingService/GetAutoTopupSettings:
    post:
      description: Retrieves auto-topup settings for an organization.
      operationId: gitpod.v1.BillingService.GetAutoTopupSettings
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gitpod.v1.GetAutoTopupSettingsRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gitpod.v1.GetAutoTopupSettingsResponse'
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
          description: Error
      security:
      - bearerAuth: []
      summary: GetAutoTopupSettings
      tags:
      - gitpod.v1.BillingService
    servers: []
  /gitpod.v1.BillingService/GetBillingInfo:
    post:
      description: "Retrieves billing information including credit balance for an organization.\n\n Use this method to:\n\
        \ - Check available credits for the organization\n - Monitor credit usage and remaining balance\n - Display billing\
        \ status in the dashboard\n - Implement usage-based alerts\n\n ### Examples\n\n - Get billing info:\n\n   Retrieves\
        \ current credit balance and usage information.\n\n   ```yaml\n   organizationId: \"b0e12f6c-4c67-429d-a4a6-d9838b5da047\"\
        \n   ```"
      operationId: gitpod.v1.BillingService.GetBillingInfo
      parameters: []
      requestBody:
        content:
          application/json:
            examples:
              get_billing_info:
                description: Retrieves current credit balance and usage information.
                value:
                  organizationId: b0e12f6c-4c67-429d-a4a6-d9838b5da047
            schema:
              $ref: '#/components/schemas/gitpod.v1.GetBillingInfoRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gitpod.v1.GetBillingInfoResponse'
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
          description: Error
      security:
      - bearerAuth: []
      summary: GetBillingInfo
      tags:
      - gitpod.v1.BillingService
    servers: []
  /gitpod.v1.BillingService/GetBillingRecord:
    post:
      description: Gets details about a specific billing record.
      operationId: gitpod.v1.BillingService.GetBillingRecord
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gitpod.v1.GetBillingRecordRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gitpod.v1.GetBillingRecordResponse'
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
          description: Error
      security:
      - bearerAuth: []
      summary: GetBillingRecord
      tags:
      - gitpod.v1.BillingService
    servers: []
  /gitpod.v1.BillingService/GetCoupon:
    post:
      description: "Retrieves a specific coupon by its code.\n\n Use this method to:\n - Validate coupon codes during checkout\n\
        \ - Display coupon details to users\n - Check coupon availability and expiration\n\n ### Examples\n\n - Get coupon\
        \ by code:\n\n   Retrieves coupon details for validation.\n\n   ```yaml\n   couponCode: \"WELCOME2024\"\n   organizationId:\
        \ \"123e4567-e89b-12d3-a456-426614174000\"\n   ```"
      operationId: gitpod.v1.BillingService.GetCoupon
      parameters: []
      requestBody:
        content:
          application/json:
            examples:
              get_coupon_by_code:
                description: Retrieves coupon details for validation.
                value:
                  couponCode: WELCOME2024
                  organizationId: 123e4567-e89b-12d3-a456-426614174000
            schema:
              $ref: '#/components/schemas/gitpod.v1.GetCouponRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gitpod.v1.GetCouponResponse'
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
          description: Error
      security:
      - bearerAuth: []
      summary: GetCoupon
      tags:
      - gitpod.v1.BillingService
    servers: []
  /gitpod.v1.BillingService/GetCreditConsumptionTimeSeries:
    post:
      description: "Returns daily credit consumption (OCU) time series for an organization,\n broken down by metric category."
      operationId: gitpod.v1.BillingService.GetCreditConsumptionTimeSeries
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gitpod.v1.GetCreditConsumptionTimeSeriesRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gitpod.v1.GetCreditConsumptionTimeSeriesResponse'
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
          description: Error
      security:
      - bearerAuth: []
      summary: GetCreditConsumptionTimeSeries
      tags:
      - gitpod.v1.BillingService
    servers: []
  /gitpod.v1.BillingService/GetCreditUsageExport:
    post:
      description: "Returns a signed download URL for a CSV export of per-user credit usage.\n The URL points to an HTTP endpoint\
        \ that streams gzip-compressed CSV."
      operationId: gitpod.v1.BillingService.GetCreditUsageExport
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gitpod.v1.GetCreditUsageExportRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gitpod.v1.GetCreditUsageExportResponse'
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
          description: Error
      security:
      - bearerAuth: []
      summary: GetCreditUsageExport
      tags:
      - gitpod.v1.BillingService
    servers: []
  /gitpod.v1.BillingService/GetCreditUsageReport:
    post:
      description: "Returns a daily credit usage report for an enterprise organization,\n broken down by usage type and by\
        \ user."
      operationId: gitpod.v1.BillingService.GetCreditUsageReport
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gitpod.v1.GetCreditUsageReportRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gitpod.v1.GetCreditUsageReportResponse'
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
          description: Error
      security:
      - bearerAuth: []
      summary: GetCreditUsageReport
      tags:
      - gitpod.v1.BillingService
    servers: []
  /gitpod.v1.BillingService/GetCumulativeCreditUsage:
    post:
      description: "Returns cumulative credit usage for an organization and its teams.\n\n Use this method to:\n - Get the\
        \ total cumulative credit consumption as of a point in time\n - Get per-team cumulative usage with credit allocation\
        \ (budget) comparison\n - Display team credit summaries on the usage page and team detail page\n\n ### Examples\n\n\
        \ - Get current cumulative usage:\n\n   ```yaml\n   organizationId: \"b0e12f6c-4c67-429d-a4a6-d9838b5da047\"\n   ```\n\
        \n - Get cumulative usage as of a specific date:\n\n   ```yaml\n   organizationId: \"b0e12f6c-4c67-429d-a4a6-d9838b5da047\"\
        \n   asOf: \"2026-03-31T23:59:59Z\"\n   ```\n\n ### Authorization\n\n Requires `billing:read_usage` permission on\
        \ the organization."
      operationId: gitpod.v1.BillingService.GetCumulativeCreditUsage
      parameters: []
      requestBody:
        content:
          application/json:
            examples:
              get_cumulative_usage_as_of_a_specific_date:
                description: 'organizationId: "b0e12f6c-4c67-429d-a4a6-d9838b5da047"

                  asOf: "2026-03-31T23:59:59Z"

                  '
                value:
                  asOf: '2026-03-31T23:59:59Z'
                  organizationId: b0e12f6c-4c67-429d-a4a6-d9838b5da047
              get_current_cumulative_usage:
                description: 'organizationId: "b0e12f6c-4c67-429d-a4a6-d9838b5da047"

                  '
                value:
                  organizationId: b0e12f6c-4c67-429d-a4a6-d9838b5da047
            schema:
              $ref: '#/components/schemas/gitpod.v1.GetCumulativeCreditUsageRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gitpod.v1.GetCumulativeCreditUsageResponse'
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
          description: Error
      security:
      - bearerAuth: []
      summary: GetCumulativeCreditUsage
      tags:
      - gitpod.v1.BillingService
    servers: []
  /gitpod.v1.BillingService/GetEnterpriseBillingInfo:
    post:
      description: Returns enterprise billing info for an organization.
      operationId: gitpod.v1.BillingService.GetEnterpriseBillingInfo
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gitpod.v1.GetEnterpriseBillingInfoRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gitpod.v1.GetEnterpriseBillingInfoResponse'
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
          description: Error
      security:
      - bearerAuth: []
      summary: GetEnterpriseBillingInfo
      tags:
      - gitpod.v1.BillingService
    servers: []
  /gitpod.v1.BillingService/GetStripePortalUrl:
    post:
      description: "Retrieves the Stripe Customer Portal URL for an organization.\n\n Use this method to:\n - Get the Stripe\
        \ Customer Portal URL for billing management\n - Allow customers to manage their payment methods and billing details\n\
        \ - Provide access to billing history and invoices\n\n ### Examples\n\n - Get Stripe portal URL:\n\n   Retrieves the\
        \ portal URL for the organization.\n\n   ```yaml\n   organizationId: \"b0e12f6c-4c67-429d-a4a6-d9838b5da047\"\n  \
        \ ```"
      operationId: gitpod.v1.BillingService.GetStripePortalUrl
      parameters: []
      requestBody:
        content:
          application/json:
            examples:
              get_stripe_portal_url:
                description: Retrieves the portal URL for the organization.
                value:
                  organizationId: b0e12f6c-4c67-429d-a4a6-d9838b5da047
            schema:
              $ref: '#/components/schemas/gitpod.v1.GetStripePortalUrlRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gitpod.v1.GetStripePortalUrlResponse'
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
          description: Error
      security:
      - bearerAuth: []
      summary: GetStripePortalUrl
      tags:
      - gitpod.v1.BillingService
    servers: []
  /gitpod.v1.BillingService/GetStripePublishableKey:
    post:
      description: "Retrieves the Stripe publishable key for an organization.\n\n Use this method to:\n - Get the appropriate\
        \ Stripe publishable key for frontend payment forms\n - Support different billing realms (production/sandbox)\n -\
        \ Ensure proper isolation between organizations\n\n ### Examples\n\n - Get publishable key:\n\n   Retrieves the Stripe\
        \ publishable key for the organization.\n\n   ```yaml\n   organizationId: \"b0e12f6c-4c67-429d-a4a6-d9838b5da047\"\
        \n   ```"
      operationId: gitpod.v1.BillingService.GetStripePublishableKey
      parameters: []
      requestBody:
        content:
          application/json:
            examples:
              get_publishable_key:
                description: Retrieves the Stripe publishable key for the organization.
                value:
                  organizationId: b0e12f6c-4c67-429d-a4a6-d9838b5da047
            schema:
              $ref: '#/components/schemas/gitpod.v1.GetStripePublishableKeyRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gitpod.v1.GetStripePublishableKeyResponse'
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
          description: Error
      security:
      - bearerAuth: []
      summary: GetStripePublishableKey
      tags:
      - gitpod.v1.BillingService
    servers: []
  /gitpod.v1.BillingService/GetTeamCreditAllocation:
    post:
      description: "Gets the credit allocation for a team.\n\n ### Examples\n\n - Get a team's allocation:\n\n   ```yaml\n\
        \   organizationId: \"b0e12f6c-4c67-429d-a4a6-d9838b5da047\"\n   teamId: \"d2c94c27-3b76-4a42-b88c-95a85e392c68\"\n\
        \   ```\n\n ### Authorization\n\n Requires `billing:read` permission on the organization."
      operationId: gitpod.v1.BillingService.GetTeamCreditAllocation
      parameters: []
      requestBody:
        content:
          application/json:
            examples:
              get_a_team's_allocation:
                description: 'organizationId: "b0e12f6c-4c67-429d-a4a6-d9838b5da047"

                  teamId: "d2c94c27-3b76-4a42-b88c-95a85e392c68"

                  '
                value:
                  organizationId: b0e12f6c-4c67-429d-a4a6-d9838b5da047
                  teamId: d2c94c27-3b76-4a42-b88c-95a85e392c68
            schema:
              $ref: '#/components/schemas/gitpod.v1.GetTeamCreditAllocationRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gitpod.v1.GetTeamCreditAllocationResponse'
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
          description: Error
      security:
      - bearerAuth: []
      summary: GetTeamCreditAllocation
      tags:
      - gitpod.v1.BillingService
    servers: []
  /gitpod.v1.BillingService/GrantCredits:
    post:
      description: "Grants additional credits to an organization.\n\n Use this method to:\n - Grant credits to existing customers\n\
        \ - Add promotional credits\n - Provide customer service credits\n\n ### Examples\n\n - Grant credits:\n\n   Grants\
        \ 80 credits to the organization for one year.\n\n   ```yaml\n   organizationId: \"b0e12f6c-4c67-429d-a4a6-d9838b5da047\"\
        \n   creditsAmount: 80.0\n   ```"
      operationId: gitpod.v1.BillingService.GrantCredits
      parameters: []
      requestBody:
        content:
          application/json:
            examples:
              grant_credits:
                description: Grants 80 credits to the organization for one year.
                value:
                  creditsAmount: 80
                  organizationId: b0e12f6c-4c67-429d-a4a6-d9838b5da047
            schema:
              $ref: '#/components/schemas/gitpod.v1.GrantCreditsRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gitpod.v1.GrantCreditsResponse'
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
          description: Error
      security:
      - bearerAuth: []
      summary: GrantCredits
      tags:
      - gitpod.v1.BillingService
    servers: []
  /gitpod.v1.BillingService/InsertUsageEvents:
    post:
      description: "Inserts usage events from an external source (e.g., backfilling missing\n LLM token usage from a provider\
        \ console export). Internal admin operation."
      operationId: gitpod.v1.BillingService.InsertUsageEvents
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gitpod.v1.InsertUsageEventsRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gitpod.v1.InsertUsageEventsResponse'
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
          description: Error
      security:
      - bearerAuth: []
      summary: InsertUsageEvents
      tags:
      - gitpod.v1.BillingService
    servers: []
  /gitpod.v1.BillingService/ListCoupons:
    post:
      description: "Lists existing coupons with filtering and pagination support.\n\n Use this method to:\n - View all created\
        \ coupons\n - Filter coupons by status or type\n - Monitor coupon usage and expiration"
      operationId: gitpod.v1.BillingService.ListCoupons
      parameters:
      - in: query
        name: pageSize
        schema:
          default: 25
          maximum: 100
          minimum: 0
          type: integer
      - in: query
        name: token
        schema:
          default: ''
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gitpod.v1.ListCouponsRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gitpod.v1.ListCouponsResponse'
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
          description: Error
      security:
      - bearerAuth: []
      summary: ListCoupons
      tags:
      - gitpod.v1.BillingService
    servers: []
  /gitpod.v1.BillingService/ListSubscriptions:
    post:
      description: "Lists current subscriptions for an organization.\n\n Use this method to:\n - View all active subscriptions\n\
        \ - Check subscription status and details\n - Monitor subscription lifecycle\n\n ### Examples\n\n - List subscriptions:\n\
        \n   Retrieves all subscriptions for the organization.\n\n   ```yaml\n   organizationId: \"b0e12f6c-4c67-429d-a4a6-d9838b5da047\"\
        \n   ```"
      operationId: gitpod.v1.BillingService.ListSubscriptions
      parameters:
      - in: query
        name: pageSize
        schema:
          default: 25
          maximum: 100
          minimum: 0
          type: integer
      - in: query
        name: token
        schema:
          default: ''
          type: string
      requestBody:
        content:
          application/json:
            examples:
              list_subscriptions:
                description: Retrieves all subscriptions for the organization.
                value:
                  organizationId: b0e12f6c-4c67-429d-a4a6-d9838b5da047
            schema:
              $ref: '#/components/schemas/gitpod.v1.ListSubscriptionsRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gitpod.v1.ListSubscriptionsResponse'
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
          description: Error
      security:
      - bearerAuth: []
      summary: ListSubscriptions
      tags:
      - gitpod.v1.BillingService
    servers: []
  /gitpod.v1.BillingService/ReconcileBilling:
    post:
      description: "Reconciles billing state for an organization.\n\n Use this method to:\n - Ensure billing state is up-to-date\
        \ with external providers (Stripe, Metronome)\n - Sync organization tier based on active contracts\n - Update credit\
        \ status and payment failure state\n\n Call this when the user navigates to the billing page to ensure\n they see\
        \ the most current billing information.\n\n ### Examples\n\n - Reconcile billing:\n\n   Triggers billing reconciliation\
        \ for the organization.\n\n   ```yaml\n   organizationId: \"b0e12f6c-4c67-429d-a4a6-d9838b5da047\"\n   ```"
      operationId: gitpod.v1.BillingService.ReconcileBilling
      parameters: []
      requestBody:
        content:
          application/json:
            examples:
              reconcile_billing:
                description: Triggers billing reconciliation for the organization.
                value:
                  organizationId: b0e12f6c-4c67-429d-a4a6-d9838b5da047
            schema:
              $ref: '#/components/schemas/gitpod.v1.ReconcileBillingRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gitpod.v1.ReconcileBillingResponse'
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
          description: Error
      security:
      - bearerAuth: []
      summary: ReconcileBilling
      tags:
      - gitpod.v1.BillingService
    servers: []
  /gitpod.v1.BillingService/RequestRecoveryCredit:
    post:
      description: "Requests a one-time recovery credit grant for an organization that is out of credits.\n Grants a small\
        \ amount of free credits so the user can start an environment and push\n uncommitted work. Can only be used once per\
        \ organization."
      operationId: gitpod.v1.BillingService.RequestRecoveryCredit
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gitpod.v1.RequestRecoveryCreditRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gitpod.v1.RequestRecoveryCreditResponse'
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
          description: Error
      security:
      - bearerAuth: []
      summary: RequestRecoveryCredit
      tags:
      - gitpod.v1.BillingService
    servers: []
  /gitpod.v1.BillingService/SetBillingAddress:
    post:
      description: "Sets or updates the billing address for an organization.\n\n Use this method to:\n - Set billing address\
        \ for tax calculation and compliance\n - Update existing billing address information\n - Support international billing\
        \ requirements\n\n ### Examples\n\n - Set billing address:\n\n   Sets a complete billing address for the organization.\n\
        \n   ```yaml\n   organizationId: \"b0e12f6c-4c67-429d-a4a6-d9838b5da047\"\n   name: \"John Doe\"\n   address:\n  \
        \   line1: \"123 Main St\"\n     line2: \"Suite 100\"\n     city: \"San Francisco\"\n     state: \"CA\"\n     postalCode:\
        \ \"94105\"\n     country: \"US\"\n   ```"
      operationId: gitpod.v1.BillingService.SetBillingAddress
      parameters: []
      requestBody:
        content:
          application/json:
            examples:
              set_billing_address:
                description: Sets a complete billing address for the organization.
                value:
                  address:
                    city: San Francisco
                    country: US
                    line1: 123 Main St
                    line2: Suite 100
                    postalCode: '94105'
                    state: CA
                  name: John Doe
                  organizationId: b0e12f6c-4c67-429d-a4a6-d9838b5da047
            schema:
              $ref: '#/components/schemas/gitpod.v1.SetBillingAddressRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gitpod.v1.SetBillingAddressResponse'
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
          description: Error
      security:
      - bearerAuth: []
      summary: SetBillingAddress
      tags:
      - gitpod.v1.BillingService
    servers: []
  /gitpod.v1.BillingService/SetBillingRealm:
    post:
      description: "Sets the billing realm for an organization.\n\n Use this method to:\n - Change organization's billing\
        \ realm between sandbox and production\n - Configure billing environment for the organization\n - Requires Account\
        \ permissions to perform the operation\n\n ### Examples\n\n - Set billing realm:\n\n   Changes organization billing\
        \ realm to production.\n\n   ```yaml\n   organizationId: \"b0e12f6c-4c67-429d-a4a6-d9838b5da047\"\n   realm: BILLING_REALM_PRODUCTION\n\
        \   ```"
      operationId: gitpod.v1.BillingService.SetBillingRealm
      parameters: []
      requestBody:
        content:
          application/json:
            examples:
              set_billing_realm:
                description: Changes organization billing realm to production.
                value:
                  organizationId: b0e12f6c-4c67-429d-a4a6-d9838b5da047
                  realm: BILLING_REALM_PRODUCTION
            schema:
              $ref: '#/components/schemas/gitpod.v1.SetBillingRealmRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gitpod.v1.SetBillingRealmResponse'
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
          description: Error
      security:
      - bearerAuth: []
      summary: SetBillingRealm
      tags:
      - gitpod.v1.BillingService
    servers: []
  /gitpod.v1.BillingService/SetOrganizationCreditGrant:
    post:
      description: "Sets the contracted credit grant for an organization.\n\n This is an admin-only operation for setting\
        \ the total credit budget\n allocated to an enterprise organization under their contract.\n\n ### Examples\n\n - Set\
        \ credit grant:\n\n   ```yaml\n   organizationId: \"b0e12f6c-4c67-429d-a4a6-d9838b5da047\"\n   creditGrant: \"10000\"\
        \n   ```\n\n ### Authorization\n\n Requires `change_billing_realm` account permission."
      operationId: gitpod.v1.BillingService.SetOrganizationCreditGrant
      parameters: []
      requestBody:
        content:
          application/json:
            examples:
              set_credit_grant:
                description: 'organizationId: "b0e12f6c-4c67-429d-a4a6-d9838b5da047"

                  creditGrant: "10000"

                  '
                value:
                  creditGrant: '10000'
                  organizationId: b0e12f6c-4c67-429d-a4a6-d9838b5da047
            schema:
              $ref: '#/components/schemas/gitpod.v1.SetOrganizationCreditGrantRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gitpod.v1.SetOrganizationCreditGrantResponse'
          description: Success
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
          description: Error
      security:
      - bearerAuth: []
      summary: SetOrganizationCreditGrant
      tags:
      - gitpod.v1.BillingService
    servers: []
  /gitpod.v1.BillingService/SetTaxID:
    post:
      description: "Sets or updates the tax ID for an organization.\n\n Use this method to:\n - Set tax ID for billing purposes\n\
[...]
